body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.baslik {
    font-size: 38px;
    margin-bottom: 20px;
}

.aciklama {
    font-size: 18px;
    margin-bottom: 30px;
}

.buton {
    text-decoration: none;
    color: white;
    background-color: #0066cc;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
}

.buton:hover {
    background-color: #004999;
    transform: scale(1.05);
}

.buton:active {
    transform: scale(0.95);
}

.kart {
    background-color: #1e1e1e;
    width: 60%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
}

/* Animasyon sistemi */
.anim {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s;
}

.goster {
    opacity: 1;
    transform: translateY(0);
}
